body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.help {
    background-image: url(images/download.png);
    height: 600px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.hp h1 {
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 150px 250px 20px;
    font-weight: 900;
}

.flexi {
    display: flex;
    margin-bottom: 150px;
}

.hp p {
    text-align: center;
    color: black;
    margin: 10px 350px 20px;
    margin-bottom: 20px;
}

.hp {
    text-align: center;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(tomato, red);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 10px;
    text-align: center;
}

.hh {
    text-align: center;
    margin-top: 5px;
    color: gray;
}

.expi {
    width: 14%;
    height: 100px;
    padding-left: 20px;
    border-radius: 10px;
    margin-left: 10px;
    font-weight: 700;
    color: black;
    font-size: 20px;
    box-shadow: 10px 10px 100px gray;
}

.size {
    margin-left: 15%;
    margin-top: 30px;
    display: flex;
}


#dif {
    border: 4px solid tomato;
    background-color: 20px tomato;
}

.text-box input {
    width: 50%;
    text-align: center;
    padding: 5px;
    border: 0px;
    margin: 30px 320px 0px;
    height: 20px;
    font-size: 20px;
}

.bu {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 150px;
}

.po {
    margin-left: 120px;
    margin-right: 120px;
}

.expix {
    width: 30%;
    height: 100%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
}

#food {
    background-color: lightgrey;
}

#shelter {
    background-color: lightpink;
}

#edu {
    background-color: lightgreen;
}

.expix img {
    margin: 40px 20px 0px 0px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}

.oren {
    color: crimson;
}

.half {
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    font-size: 20px;
}

.half h1 {
    font-weight: 700;
    font-size: 40px;
}

.half p {
    color: gray;
    font-weight: 400;
    font-size: 17px;
}

.half img {
    width: 120%;
    margin-top: 50px;
    border-radius: 10px;
    margin-bottom: 14px;
}

.hh {
    margin-bottom: 20px;
    text-align: center();

}

.flexi2 {
    display: flex;
    margin-bottom: 150px;
    background-color: antiquewhite;
    margin: 5% 15% 10% 15%;
    height: 200px;
    text-align: center;
}

#sms {
    text-align: center;
    margin-right: 0%;
    margin-left: 28%;
    margin-top: 8.2%;
    border-style: hidden;
}

#twitter {
    text-align: center;
    margin-right: 36%;
    margin-left: 0%;
    margin-top: 9%;
    border-style: hidden;
}

.button2 {
    text-decoration: none;
    background-image: linear-gradient(tomato, black);
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 4px;
    text-align: center;
    height: 40ox;
}

input {
    height: 40px;
    background-color: thistle
}